.section {
  position: relative;
  padding: 160px 0;
  overflow: hidden;

  @media (min-width: 768px) {
    padding: 240px 0 200px;
  }
}

.featureList {
  font-size: 0.7em;
  line-height: 0.7em;
  em {
    font-style: normal;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;

  @media (min-width: 768px) {
    padding: 0 80px;
  }
}
